* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

}
header {
    background-color: #333;
    color: rgb(243, 233, 233);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    align-items: center;
  }

  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
    text-decoration: none;
  }
  
  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    float: right;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }
  
  @media (max-width: 750px) {
    .hamburger {
      display: block;
      z-index: 1;
    }
  
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #333;
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
  
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
  
      pointer-events: none;
    }
  
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

.mobile-nav {
    display: none;
}

.mobile-nav.active {
    display: block;
}

@media (max-width: 600px) {
    nav a {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
}


.multiverso {
    margin: 0;
    padding: 40px;
}


.mobile-nav {
        background-color: #007bff; /* Cor de fundo azul */
        display: none;
        color: #fff; /* Cor do texto branco */
        padding: 10px 20px; /* Espaçamento interno */
        border: none; /* Sem borda */
        border-radius: 5px; /* Borda arredondada */
        cursor: pointer; /* Cursor ao passar */
        font-size: 16px; /* Tamanho da fonte */
        transition: background-color 0.3s; /* Transição suave da cor de fundo */
}

.mobile-nav:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

.container {
    display: flex; /* Joga uma coisa do lado dá outra */
    gap: 10px; /* espaço entre as imagens */
    text-align: center; /* alinha o texto no centro */
    flex-wrap: wrap; /* Joga a Imagem pra baixo quando atinge 100% da tela */
    padding: 10px; /* define uma a distância entre o conteúdo */
    background: rgb(94, 86, 86); /* Cor de fundo */
    justify-content: center; /* é usada para alinhar os elementos ao longo do eixo principal */
}

/* Estilizando a tag container, card e div */
.container .card div {
    display: flex;
    overflow: hidden; /* conteúdo exceder o tamanho de um elemento/ Hidden: O conteúdo excedido não ficará visível */
    border-bottom: 4px solid #0056b3; /* borda do botão */
    transition: .3s; /* */
    border-radius: 20px; /* raio da borda */
}

/* Imagem */
.container img {
    width: 380px; /* Largura */
    height: 380px; /* Altura */
    object-fit: cover; /* é utilizada para especificar como um objeto deve ser redimensionado para ajustar no conteiner */
    transition: .3s ease-in-out; /* (ease-in-out) facilidade de entrada */
    
}

/* Colocando uma imagem de fundo no container, card e div*/
.container .card div {
    width: 380px;
    height: 380px;
    /* background: url(../img/Dragon\ Ball.jpg); */ /* Imagem de fundo */
    background-position: center; /* Posição da imagem de fundo(center) */
    background-repeat: no-repeat; /* Imagem de fundo(Não repita) */
    background-size: cover; /* tamanho da imagem de fundo (cover) */
    transition: .3s;
}

.container .card:nth-child(1) {
    animation: teste 1.5s ease-in-out;
}
.container .card:nth-child(2) {
    animation: teste 1.2s ease-in-out;
}
.container .card:nth-child(3) {
    animation: teste 1s ease-in-out;
}


@keyframes teste {
    from {
        transform: translate(-100vw);
    }

    to {
        transform: translate(0);
    }
}

/* Estilizando o content */
.container .card .content {
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

.container .card div:hover .content {
    transition: 2s;
    opacity: 1;
}


.container .card p {
    font-weight: 600;
    transition: .7s;
    color: #d4d4d4;
}

.container img:hover {
    transform: scale(1.1);
}

.container .card:hover p {
    color: rgb(57, 145, 245);
}


.container p {
    color: rgb(255, 255, 255);
}


.header-container {
    position: relative;
    height: 150px;
}

.multiverso {
    margin: 0;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.header-container .cube {
    .cube 
        position: relative;
        width: 150px;
        height: 150px;
        transform-style: preserve-3d;
        transform: rotateX(-30deg);
        animation: animate 4s linear infinite;
    
}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00ce00);
    transform: rotateY( calc(90deg * var(--i))) translateZ(75px);
    font-size: 12px;
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #222;
    transform: rotateX(90deg) translateZ(75px);
}

.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: #0f0;
    transform: translateZ(-255px);
    filter: blur(10px);
    box-shadow: 0 0 60px rgba(0, 255, 0, 0.2);
}